@page "/new-bug"
<h3>Add New Bug</h3>

<EditForm Model="AddBug" OnValidSubmit="HandleValidSubmit">
 <DataAnnotationsValidator />
 <InputText @bind-Value="@AddBug.Title" placeholder="Enter Title"  /> <ValidationMessage For="@(() => @AddBug.Title)"></ValidationMessage>
 <InputText @bind-Value="@AddBug.Description" placeholder="Enter Description" />  <ValidationMessage For="@(() => @AddBug.Description)"></ValidationMessage>
 <InputNumber @bind-Value="@AddBug.Priority" placeholder="Enter Priority" /> <ValidationMessage For="@(() => AddBug.Priority)"></ValidationMessage>
 <button type="submit">Add Bug</button>
</EditForm>
@code {
public Bug AddBug { get; set; } = new Bug();

[Inject]
public IBugService BugService {get; set;}

[Inject]
public NavigationManager NavService { get; set; }

protected void HandleValidSubmit() {
 BugService.AddBug(AddBug);
 NavService.NavigateTo("");
}

}